html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: #eee url(images/bg.jpg) top center no-repeat;
    font-family: 'Quicksand', sans-serif;
    color: #555;
}
h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color:#121212;
}
img {
    box-shadow: 1px 1px 4px #222;
}
.page-header {
height: 60vh;
overflow: hidden;
background: #000 url(images/00ban.jpg) top center no-repeat;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;

}
.page-header .hbanner {
    color: white;
    width: 100%;
    text-shadow: .1em .1em rgba(12, 12, 12, 0.7);
}